body{
    background-color: rgb(230, 180, 116);
}
*{
    margin:0;
    padding: 0;
}
nav{
    font-family: 'varela Round',sans-serif;
   
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 70px;
    background-color:black;
    color: cornsilk;
}
nav ul li{
    padding: 0 10px;
}
.logo img{
    height: 70px;
}
.logo{
   display: flex;
   align-items: center;
}
.container{
    height: 65vh;
    background-color: black;
    color: aliceblue;
    display: flex;
    margin: 20px auto;
    width: 70%;
    border-radius: 10px;
    padding: 30px;
    background-image: url(spotify.jpg);
    background-size: cover;
}
.bottom{
    position: sticky;
    height:80px ;
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.icon{
    margin-top: 15px;
}
.icon i{
    cursor: pointer;
}
#progres{
min-width: 80vh;
width: 80%;
cursor: pointer;
}
.songitem{
height: 50px;
display: flex;
background-color: rgb(233, 221, 221);
color: black;
margin: 12px 0;
justify-content: space-between;
align-items: center;
border-radius: 34px;
}
.song img{
    width: 43px;
 margin: 0 23px;
 border-radius: 34px;
}
.timestamp{
    margin: 0 23px;
}
.timestamp i{
    cursor: pointer;
}
.songinfo{
    position: absolute;
    left: 10vw;
    
   /* mix-blend-mode: color-burn;*/
    
}
.songinfo img{
    opacity: 0;
    transition: opacity 0.5s ease-in;
    
}
